html, body {
  height: 100%;
  margin: 0;
}


mat-sidenav-content {
  overflow: auto;
}

body {

  font-size: 14px;

}

h1 {

  font-size: 20px;

}

h2 {

  font-size: 18px;

}

p {

  font-size: 14px;

}

/* ===== LAYOUT BASE ===== */

mat-toolbar {

  position: sticky;
  top: 0;
  z-index: 1000;

}

/* ===== SIDEBAR ===== */

.sidebar {

  width: 340px;
  padding: 16px;

}

mat-card {

  margin-bottom: 28px;
  padding: 8px;
  border-radius: 14px;

}

/* ===== CONTENT ===== */

.content {

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;

}

/* ===== TEXTOS ===== */

p {

  line-height: 1.6;
  word-break: break-word;

}

/* ===== TABLET ===== */

@media (max-width: 1024px) {

  .sidebar {

    width: 340px;

  }

}

/* ===== MOBILE ===== */

@media (max-width: 768px) {

  .sidebar {

    width: 320px;

  }

  .content {

    padding: 16px;

  }

}