html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* evita scroll externo */
}

body {

  font-size: 14px;

}

h1 {

  font-size: 22px;

}

h2 {

  font-size: 14px;

}

p {

  font-size: 14px;

}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  padding-left: 40px;
  padding-right: 40px;
}

/* ===== LAYOUT BASE ===== */

mat-toolbar {

  position: sticky;
  top: 0;
  z-index: 1000;

}

/* Altura correcta */

mat-sidenav-container {

  height: calc(100vh - 64px);

}

/* ===== SIDEBAR ===== */

.sidebar {

  width: 320px;
  padding: 16px;

}

mat-card {

  margin-bottom: 28px;
  padding: 8px;
  border-radius: 14px;

}

/* ===== CONTENT ===== */

.content {

  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  padding: 32px;

}

/* ===== TEXTOS ===== */

p {

  line-height: 1.6;
  word-break: break-word;

}

/* ===== TABLET ===== */

@media (max-width: 1024px) {

  .sidebar {

    width: 280px;

  }

}

/* ===== MOBILE ===== */

@media (max-width: 768px) {

  mat-sidenav-container {

    height: calc(100vh - 56px);

  }

  .sidebar {

    width: 260px;

  }

  .content {

    padding: 16px;

  }

}