<mat-toolbar>

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-button (click)="downloadCV()">📄 PDF</button>

  <button mat-button (click)="goToGithub()">🐙 GitHub</button>

  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>brightness_6</mat-icon>
  </button>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidebar">

    <!-- SIDEBAR -->

    <div class="name-container">
      <h1>MAGALÍ MEDINA</h1>
      <h2>Desarrolladora de Software</h2>
    </div>

    <mat-card>

      <mat-card-content>
        <p>
          Licenciada en Sistemas de Información con más de 4 años de experiencia en desarrollo y mantenimiento de
          software, especializada en tecnologías .NET, Angular y SQLServer.
        </p>
      </mat-card-content>

    </mat-card>

    <mat-divider></mat-divider>

    <mat-list>

      <h3 mat-subheader>Contacto</h3>

      <p>📍 Corrientes, Argentina</p>
      <p>✉️ magalimedina96&#64;gmail.com</p>
      <p>🌐 github.com/magaliamedina</p>
      <p>📱 +54 9 3794861591</p>
      <p>💼 linkedin.com/in/magali-anabel-medina</p>

      <mat-divider></mat-divider>

      <h3 mat-subheader>Idiomas</h3>

      <mat-list-item>Español</mat-list-item>
      <mat-list-item>Ingles: B1+</mat-list-item>

    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content class="content">

    <mat-card>
      <mat-card-title class="title-with-icon">
        <mat-icon>work</mat-icon>
        Experiencia laboral
      </mat-card-title>

      <mat-card-content>

        <h3>
          <strong>Wirsolut</strong> — Full Stack Developer (Remoto) - Sep 2022 - Feb 2026
        </h3>
        <p>· Desarrollo y mantenimiento de aplicaciones web utilizando C#, .NET Framework, .NET Core, Angular y AngularJS.
        </p>
        <p>· Desarrollo de soluciones móviles con Ionic/Android e integración con servicios web.</p>
        <p>· Implementación e integración de servicios mediante APIs REST y SOAP, documentación con Swagger.</p>
        <p>· Migración de servicios web desde .NET Framework a .NET Core 6/8/10.</p>
        <p>· Uso de NHibernate como ORM y gestión de datos con SQL Server y PostgreSQL.</p>
        <p> · Ejecución de code reviews y mejora de calidad del código.</p>
        <p>· Capacitación y acompañamiento de desarrolladores junior.</p>
        <p>· Análisis y asignación de tareas en Jira; coordinación de equipo.</p>
        <p>· Responsable de deployments a preproducción y producción con Jenkins ejecutando pipelines, revisión de
          larama y resolución de incidentes.</p>
        <p>Proyecto destacado: Liderazgo en el desarrollo de aplicación móvil Wirpost (Ionic) para el seguimiento de las
          cargas de los camiones y digitalización de las entregas (remitos).</p>

        <mat-divider></mat-divider>

        <h3>
          <strong>Sensei (Schejter y Schejter SA) </strong> — Desarrolladora (Corrientes, Argentina) May 2022 - Sep 2022
        </h3>
        <p>· Desarrollo y soporte de sistemas internos.</p>
        <p>· Consultas y mantenimiento de base de datos en SQL Server.</p>
        <p> · Análisis funcional y técnico de requerimientos.</p>

        <mat-divider></mat-divider>

        <h3>
          <strong>Contaduría General de la Provincia de Corrientes</strong> — Desarrolladora Java - Pasante (Corrientes,
          Argentina) Jun 2021 - May 2022
        </h3>
        <p>· Desarrollo y mantenimiento de sistemas utilizando Java y PL/SQL (Oracle).
        </p>
        <p>
          · Diseño y análisis de modelos de datos (DER).
        </p>
        <p>· Creación de procedimientos almacenados y optimización de consultas SQL.</p>
        <p>
          · Uso de control de versiones con Subversion (SVN).
        </p>
        <p>· Desarrollo de módulos de tableros (dashboards) para visualización de información.</p>

        <mat-divider></mat-divider>

        <h3>
          <strong>Freelance WordPress</strong> — Abr 2020 - Nov 2020
        </h3>
        <p>· Desarrollo de sitios web en WordPress, personalización de plantillas y configuración de plugins.
        </p>

      </mat-card-content>

    </mat-card>

    <mat-card>
      <mat-card-title class="title-with-icon">
        <mat-icon>school</mat-icon>
        Educación
      </mat-card-title>

      <mat-card-content>

        <p>
          <strong>Licenciada en Sistemas de Información</strong> - Universidad Nacional del Nordeste | 2014 - 2022
        </p>
        <p>
          <strong>Analista Programadora Universitaria</strong> - Universidad Nacional del Nordeste | 2014 - 2020
        </p>

      </mat-card-content>

    </mat-card>

    <mat-card>
      <mat-card-title class="title-with-icon">
        <mat-icon>build</mat-icon>
        Habilidades técnicas
      </mat-card-title>
      <mat-card-content>
        <p><strong>Backend:</strong> C#, .NET Framework, .NET Core, Microservicios, NHibernate, Entity
          Framework, APIs
          REST/SOAP</p>
        <p><strong>Frontend:</strong> Angular, AngularJS</p>
        <p><strong>Bases de datos:</strong> SQL Server, Oracle (PL/SQL), PostgreSQL</p>
        <p><strong>Herramientas:</strong> Git, GitHub, Bitbucket, Jira, Postman, Swagger, despligue continuo (CD/CD)
          mediante Jenkins, uso de herramientas de IA (ChatGPT, Copilot)</p>
        <p><strong>Mobile:</strong> Ionic, Capacitor, Android (Java)</p>
      </mat-card-content>
    </mat-card>

  </mat-sidenav-content>

</mat-sidenav-container>